openapi: 3.1.0
x-stoplight:
  id: ez03q9slzf0uc
info:
  title: Rapid CX Communications API
  version: '2025-01-23'
  description: This specification describes the public Communication API of the EngageOne RapidCX Platform.
  summary: EngageOne RapidCX Communication API
  contact:
    name: Precisely
    url: 'https://www.precisely.com'
    email: api-taskid@precisely.com
  license:
    name: Apache License 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  termsOfService: ''
  x-api-id: f638989f-b3af-4b73-8fd2-8892491dd884
  x-audience:
    - external-partner
    - external-public
servers:
  - url: 'https://api.us-east-1.rapidcx.engageone.co'
    description: US-EAST-1 environment
  - url: 'https://api.eu-west-1.rapidcx.engageone.co'
    description: EU-WEST-1 environment
paths:
  /communications:
    post:
      summary: Create communication
      tags:
        - Communications
      responses:
        '201':
          description: Communication successfully created
          headers:
            Content-Type:
              schema:
                type: string
              description: Indicates the original media type of the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreatedResponse'
              examples:
                Example 1:
                  value:
                    id: d8a83c3c-e046-4328-929b-33f7609a6fd6
                Example 2:
                  value:
                    id: be5049b3-0cb2-4fdb-a5d9-708eb03da37c
        '400':
          $ref: '#/components/responses/BadRequest'
          examples:
            400 BadRequest example:
              value:
                errors:
                  - code: L01
                    title: Wrongly formated payload
                    status: 400
                    detail: Wrong content payload
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        '401':
          $ref: '#/components/responses/Denied'
          examples:
            401 Denied example:
              value:
                errors:
                  - code: 72D
                    title: Not authorized
                    status: 401
                    detail: Authentication credentials were not provided or are invalid
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        '403':
          $ref: '#/components/responses/Forbidden'
          examples:
            403 Forbidden example:
              value:
                errors:
                  - code: 12L
                    title: Forbidden
                    status: 403
                    detail: Privileges of the token are insufficient to perform this action
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
          405 MethodNotAllowed example:
            value:
              errors:
                - code: 42R
                  title: Method Not Allowed
                  status: 405
                  detail: Method not allowed for the specified resource
                  instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        '413':
          $ref: '#/components/responses/RequestTooLarge'
          413 RequestToLarge example:
            value:
              errors:
                - code: 42R
                  title: Request Entity Too Large
                  status: 413
                  detail: The payload for the body of the request is too large
                  instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        '429':
          $ref: '#/components/responses/TooManyRequests'
          examples:
            429 TooManyRequests example:
              value:
                errors:
                  - code: 13L
                    title: Too many requests
                    status: 429
                    detail: You reached your request limits
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
        default:
          description: Unexpected error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/problem+json
              description: Indicates the original media type of the resource
          content:
            application/problem+json:
              schema:
                $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
      operationId: createCommunication
      x-stoplight:
        id: 079tssr789dor
      description: Creates communication based on existing and active communication_definition_name in RapidCX
      parameters:
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Create communication request body structure
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EmailCommunicationBody'
                  x-stoplight:
                    id: nxw4iqic20qw1
                - $ref: '#/components/schemas/PDFCommunicationBody'
                  x-stoplight:
                    id: c2w63lgkx8kt6
                - $ref: '#/components/schemas/SMSCommunicationBody'
                  x-stoplight:
                    id: 2rd1bw72u2ige
              discriminator:
                propertyName: communication_type
                mapping:
                  EMAIL_COMMUNICATION: '#/components/schemas/EmailCommunicationBody'
                  PDF_COMMUNICATION: '#/components/schemas/PDFCommunicationBody'
                  SMS_COMMUNICATION: '#/components/schemas/SMSCommunicationBody'
            examples:
              Ex1 email communication:
                value:
                  communication_definition_name: Bank letter email communication definition 37894
                  document_type: letters
                  communication_type: EMAIL_COMMUNICATION
                  communication_data:
                    Customer Name: Jake Olson
                    Account Type: Silver
                    Account Number: GB 55 BUKB 200415 64372438
                  recipients:
                    - type: MAIL_TO
                      address: jake.olson@somecompany.co.uk
                      name: Jake Olson
                    - type: MAIL_CC
                      address: cc1@homebanking.co.uk
                      name: Home Banking (CC)
                    - type: MAIL_BCC
                      address: bcc1@homebanking.co.uk
                      name: Home Banking (BCC)
              Ex2 email communication:
                value:
                  communication_definition_name: Bank statement email communication definition 65362
                  document_type: statements
                  communication_type: EMAIL_COMMUNICATION
                  communication_data:
                    Customer Name: John Mike Doe
                    Account Type: Standard
                    Account Number: GB 55 BUKB 200415 66666666
                    Printed Plastic Cards:
                      Cards:
                        - Member Number: '647324'
                          Title: Mr
                          Full Name: John Doe
                          Valid thru: 11/26
                          Status: Gold
                        - Member Number: '647325'
                          Title: Ms
                          Full Name: Sussane Doe
                          Valid thru: 11/26
                          Status: Gold
                  recipients:
                    - type: MAIL_TO
                      address: john.doe@someothercompany.co.uk
                      name: John Mike Doe
                    - type: MAIL_TO
                      address: johndoe@gmail.com
                      name: John Mike Doe at Gmail
                    - type: MAIL_CC
                      address: cc1@homebanking.co.uk
                    - type: MAIL_CC
                      address: cc2@homebanking.co.uk
                      name: Home Banking (CC)
                    - type: MAIL_BCC
                      address: bcc1@homebanking.co.uk
                      name: Home Banking (BCC)
                    - type: MAIL_BCC
                      address: bcc2@homebanking.co.uk
              Ex3 pdf communication:
                value:
                  communication_definition_name: Bank letter pdf communication definition 43627
                  document_type: letters
                  communication_type: PDF_COMMUNICATION
                  communication_data:
                    Customer Name: Jake Olson
                    Account Type: Silver
                    Account Number: GB 55 BUKB 200415 64372438
                    Standard Membership Id: '67432'
                    SLA: '1'
                    Environment Code: P
                    Duplex: 'Y'
                    Colored: 'N'
                    Envelope Code: AEID025
                    Post Class: Whistl
                  recipients:
                    - name: Jake Olson
                      address_line1: 73 Old Edinburgh Road
                      city: Belfast
                      post_code: BT1 3ZQ
                      country: United Kingdom
              Ex4 pdf communication:
                value:
                  communication_definition_name: Bank statement pdf communication definition 75362
                  document_type: statements
                  communication_type: PDF_COMMUNICATION
                  communication_data:
                    Customer Name: Mike Appleseed
                    Account Type: Standard
                    Account Number: GB 55 BUKB 200415 77777777
                    Standard Membership Id: '67432'
                    SLA: '1'
                    Environment Code: P
                    Duplex: 'Y'
                    Colored: 'N'
                    Envelope Code: AEID025
                    Post Class: Whistl
                    Insert 1: HUC025
                    Tray 2 Code: Batch Header Paper
                    Tray 3 Code: HUC023
                  recipients:
                    - name: Mike Appleseed
                      address_line1: 73 Old Edinburgh Road
                      city: Belfast
                      post_code: BT1 3ZQ
                      country: United Kingdom
              Ex5 SMS communication:
                value:
                  communication_definition_name: Insurance letter SMS communication definition 6372
                  document_type: letters
                  communication_type: SMS_COMMUNICATION
                  communication_data:
                    Customer Name: Jake Downhill
                    Account Type: Silver
                    Account Number: GB 55 BUKB 200415 64372438
                  recipients:
                    - phone_number: '+442071838750'
              Ex6 SMS communication:
                value:
                  communication_definition_name: Bank statement SMS communication definition 78534
                  document_type: statements
                  communication_type: SMS_COMMUNICATION
                  communication_data:
                    Customer Name: Mike Spencer
                    Account Type: Silver
                    Account Number: GB 55 BUKB 200415 64372438
                  recipients:
                    - phone_number: '+442071356476'
    parameters:
      - $ref: '#/components/parameters/RapidCX-Api-Version'
components:
  responses:
    BadRequest:
      description: 'Error in the payload - wrong format or missing fields, see error object for more details.'
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: L01
                    title: Wrong query structure
                    status: 400
                    detail: Wrong content payload. See instance object for more details
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
    Denied:
      description: Not authorized
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: 72D
                    title: Not authorized
                    status: 401
                    detail: Authentication credentials were not provided or are invalid.
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
    Forbidden:
      description: 'Operation not allowed, or the privileges of the token are insufficient to perform this action.'
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: 12L
                    title: Forbidden
                    status: 403
                    detail: Privileges of the token are insufficient to perform this action
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
    MethodNotAllowed:
      description: Method not allowed for the specified resource (MethodNotAllowedException)
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: 42R
                    title: Method Not Allowed
                    status: 405
                    detail: Method not allowed for the specified resource
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
    RequestTooLarge:
      description: The payload for the body of the request is too large (RequestEntityTooLargeException)
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: 42R
                    title: Request Entity Too Large
                    status: 413
                    detail: The payload for the body of the request is too large
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
    TooManyRequests:
      description: Too Many Requests
      content:
        application/problem+json:
          schema:
            $ref: 'https://raw.githubusercontent.com/PreciselyData/rapidcx-public-api/refs/heads/main/models/Problems-1.0.0.yaml'
          examples:
            Example 1:
              value:
                errors:
                  - code: 13L
                    title: Too many requests
                    status: 429
                    detail: You reached your request limits
                    instance: /communications/6090146f-1023-4f7c-8eed-10a045d37ae8
      headers:
        Content-Type:
          schema:
            example: application/problem+json
            type: string
          description: Indicates the original media type of the resource
  schemas:
    DocumentCreatedResponse:
      title: DocumentCreatedResponse
      x-stoplight:
        id: 1m6vp0nti15g2
      type: object
      required:
        - id
      properties:
        id:
          type: string
          x-stoplight:
            id: 1un77btvbbjmv
          format: uuid
          x-faker: datatype.uuid
          example: e2b5d3d9-8e08-4459-b6c5-dc7a5118a3d9
          description: The uuid of the communications created.
      description: DocumentCreated response body
      examples:
        - id: e2b5d3d9-8e08-4459-b6c5-dc7a5118a3d9
    CommonCommunicationBody:
      title: CommonCommunication
      x-stoplight:
        id: w6wjeregmzh7i
      type: object
      description: CommonCommunication model
      examples:
        - communication_definition_name: business letter 4653
          document_type: letter
          communication_type: EMAIL_COMMUNICATION
          communication_data:
            Customer Name: Jake Olson
            Account Type: Silver
            Account Number: GB 55 BUKB 200415 64372438
      required:
        - communication_definition_name
        - document_type
        - communication_type
      properties:
        communication_definition_name:
          type: string
          x-stoplight:
            id: njrjlpje4adso
          description: The unique name of the communication definition object created in RapidCX
          example: business letter 0001
        document_type:
          type: string
          x-stoplight:
            id: bojpimqqrrltn
          example: letter
          description: 'The category of the document being created (e.g., letters, statements, claims)'
        communication_type:
          x-stoplight:
            id: k4fgdf57l74jk
          enum:
            - EMAIL_COMMUNICATION
            - PDF_COMMUNICATION
            - SMS_COMMUNICATION
          description: The type of communication created
        communication_data:
          x-stoplight:
            id: 80wt89d4enr3b
          type: object
          description: 'A map<string, any> of all the data used in the communication_definition object. The key must be a ''string'' while the value can be any valid JSON object'
          additionalProperties:
            x-stoplight:
              id: 4bnt65ojkxvnn
    EmailCommunicationBody:
      x-stoplight:
        id: dodn8lqe1a9ss
      allOf:
        - $ref: '#/components/schemas/CommonCommunicationBody'
          x-stoplight:
            id: u5u4djb3bc468
        - type: object
          x-stoplight:
            id: g713e3lt1fc3q
          required:
            - recipients
          properties:
            recipients:
              type: array
              x-stoplight:
                id: mni4n09qjaceq
              description: The list of the recipient to whom this email communication will be sent
              items:
                x-stoplight:
                  id: ha4fbvpovyq1f
                type: object
                required:
                  - type
                  - address
                properties:
                  type:
                    x-stoplight:
                      id: 5u3tzct23ic4m
                    enum:
                      - MAIL_TO
                      - MAIL_CC
                      - MAIL_BCC
                    description: The address type. Must be the one of the enumeratively defined values.
                  address:
                    type: string
                    x-stoplight:
                      id: okk691s8oe59p
                    description: The recipient's email address
                  name:
                    type: string
                    x-stoplight:
                      id: 9leu1j9x4i90p
                    description: The recipient's full name
      description: EmailCommunication model
      title: EmailCommunication
      examples:
        - communication_definition_name: business letter 0001
          document_type: letter
          communication_type: EMAIL_COMMUNICATION
          communication_data:
            Customer Name: Mike Doe
            Account Type: standard
            Account Number: GB 55 BUKB 200415 55555555
          recipients:
            - type: MAIL_TO
              address: mike.doe@acmecompany.com
              name: Mike Doe
            - type: MAIL_TO
              address: mike.doe@gmail.com
              name: Mike Doe at Gmail
            - type: MAIL_CC
              address: cc1@homebanking.co.uk
            - type: MAIL_CC
              address: cc2@homebanking.co.uk
              name: Home Banking (CC)
            - type: MAIL_BCC
              address: bcc1@homebanking.co.uk
              name: Home Banking (BCC)
            - type: MAIL_BCC
              address: bcc2@homebanking.co.uk
    SMSCommunicationBody:
      x-stoplight:
        id: gh4dorsz8cpbj
      allOf:
        - $ref: '#/components/schemas/CommonCommunicationBody'
          x-stoplight:
            id: oxtllv2be0f8c
        - type: object
          required:
            - recipients
          properties:
            recipients:
              type: array
              x-stoplight:
                id: rnwagovmd6jmq
              description: The list of the recipient to whom this SMS communication will be sent
              items:
                x-stoplight:
                  id: gm5t1keg5l5yt
                type: object
                required:
                  - phone_number
                properties:
                  phone_number:
                    type: string
                    x-stoplight:
                      id: 6bq94nmp116vj
                    description: The recipient phone number in full international E.164 format with no blank characters.
                    example: '+442071838750'
                    pattern: '^\+[1-9]\d{1,14}$'
      description: SMSCommunication model
      title: SMSCommunication
      examples:
        - communication_definition_name: business letter 1342
          document_type: letter
          communication_type: SMS_COMMUNICATION
          communication_data:
            Customer Name: Jake Olson
            Account Type: Silver
            Account Number: GB 55 BUKB 200415 64372438
          recipients:
            - phone_number: '+442071838750'
    PDFCommunicationBody:
      x-stoplight:
        id: mqjzmkd9o40f1
      allOf:
        - $ref: '#/components/schemas/CommonCommunicationBody'
          x-stoplight:
            id: fq5omqhqvnem9
        - type: object
          x-stoplight:
            id: 4ako3twrl9l4a
          properties:
            recipients:
              type: array
              x-stoplight:
                id: u7elhctvitu3l
              description: The list of the recipient to whom this PDF communication will be sent
              items:
                x-stoplight:
                  id: evw48hz9agpzk
                type: object
                required:
                  - name
                  - address_line1
                  - city
                  - postal_code
                  - country
                properties:
                  name:
                    type: string
                    x-stoplight:
                      id: ni6whvlf2qwr7
                    description: 'The complete name of the recipient, typically including first name, last name, and any middle names or initials'
                  address_line1:
                    type: string
                    x-stoplight:
                      id: 9ykjxlfthofz0
                    description: The primary street address or location of the entity
                  address_line2:
                    type: string
                    x-stoplight:
                      id: gq4l68ykv3bms
                    description: 'The secondary street address or additional address details (e.g., apartment number)'
                  city:
                    type: string
                    x-stoplight:
                      id: vqyxmg2ba9am7
                    description: The city or locality where the address is located
                  postal_code:
                    type: string
                    x-stoplight:
                      id: 9tha5mdy3wk4k
                    description: 'A series of characters that identifies a specific geographic area or address for postal delivery such as postcode, post code, PIN or ZIP Code.'
                  region:
                    type: string
                    x-stoplight:
                      id: g0xl5n15djwi0
                    description: 'The region, state, or province where the city is located'
                  country:
                    type: string
                    x-stoplight:
                      id: at8c11so34fik
                    description: The country where the address is located
      description: PDFCommunication model
      title: PDFCommunication
      examples:
        - communication_definition_name: business letter 4653
          document_type: letter
          communication_type: PDF_COMMUNICATION
          communication_data:
            Customer Name: John Henry Doe
            Account Type: Gold
            Account Number: GB 55 BUKB 200415 64373562
            Standard Membership Id: '67432'
            SLA: '1'
            Environment Code: P
            Duplex: 'Y'
            Colored: 'N'
            Envelope Code: AEID025
            Post Class: Whistl
          recipients:
            - name: John Henry Doe
              address_line1: 73 Old Edinburgh Road
              city: Belfast
              post_code: BT1 3ZQ
              country: United Kingdom
  securitySchemes:
    Authorization:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://auth.developer.rapidcx.engageone.co/auth2/authorize'
          tokenUrl: 'https://auth.developer.rapidcx.engage.com/auth2/token'
          refreshUrl: 'https://auth.developer.rapidcx.engage.com/auth2/token'
          scopes:
            read: read-only
            read-write: read-write
      description: |-
        Bearer token required for authentication and authorization.

        Token portal: https://tokens.developer.rapidcx.engageone.co/
  parameters:
    RapidCX-Api-Version:
      name: RapidCX-Api-Version
      in: header
      required: true
      schema:
        type: string
        format: date
        default: '2025-02-13'
        example: '2025-02-13'
      description: The API version
    Content-Type:
      name: Content-Type
      in: header
      required: false
      schema:
        type: string
        example: application/json
      description: Indicates the format of the request body being sent.
    Accept:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        example: application/json
      description: Specifies the format in which the client expects a response
tags:
  - name: Communications
    description: The category of an API
security:
  - Authorization: []
